<div class="main-wrapper container" ng-controller="mainCtrl">
    <div class="jumbotron">
        <h1 id="welcome-header">Who's My Representative?</h1>

    </div>

    <div class="repSelection">
        <!--<h2>Please fill out the following:</h2>-->
        <span>Sen. or Rep.?</span>
        <select ng-model="selectedRepType">
            <option ng-repeat="repType in repTypes">{{repType}}</option>
        </select>
        <span>Choose State: </span>
        <select ng-model="selectedState">
            <option ng-repeat="state in stateInitials">{{state}}</option>
        </select>
        <button ng-disabled="selectedRepType=='' || selectedState==''" ng-click="getReps()">Submit</button>
    </div>

    <div class="rep-results">
        <div ng-show="listShowing">
            <div class="left-side">
                <p class="list-title">List / <span class="list-rep-type">{{currentRepType}}</span></p>

                <table class="full-list">
                    <thead>
                        <th id="name-head">Name</th>
                        <th id="party-head">Party</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rep in currentReps" ng-click="getCurrentRep(rep.name)">
                            <td id="name-cell">{{rep.name}}</td>
                            <td id="party-cell">{{rep.party}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-side">
                <div class="current-rep" ng-show="repSelected">
                    <p class="list-title">Info</p>
                    <p class="current-rep-info">First Name: {{currentRep.firstName}}</p>
                    </br>
                    <p class="current-rep-info">Last Name: {{currentRep.lastName}}</p>
                    </br>
                    <p class="current-rep-info">District: {{currentRep.district}}</p>
                    </br>
                    <p class="current-rep-info">Phone: {{currentRep.phone}}</p>
                    </br>
                    <p class="current-rep-info">Office: {{currentRep.office}}</p>
                    </br>
                    <p class="current-rep-info"><a ng-href="{{currentRep.link}}">Website: {{currentRep.link}}</a></p>
                </div>
            </div>
        </div>
    </div>