/* CSS RESET (MEYERWEB.COM) */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END CSS RESET---------------------------------------------------------------------------*/






html {
    height: 100%;
    width: 100%;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

select, option, button {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.container {
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 40px;
    position: relative;
    min-height: 700px;
    overflow: auto;
    min-width: 800px;
}

.jumbotron {
    padding: 10px 0 30px 0;
}

select {
    width: 200px;
}

hr {
    border-color: lightgray;
}

#welcome-header {
    font-size: 24px;
    font-weight: bold;
    color: #3CAAEC;
}

.list-rep-type {
    color: #3CAAEC;
}

.repSelection {
    border-top: 1px solid lightgray;
    padding-top: 10px;
    margin-bottom: 20px;
}

.rep-results {
    position: relative;
    width: 100%;
}

.current-rep {
    margin-right: 5px;
}

.full-list {
    width: 60%;
}

.left-side, .right-side {
    display: inline-block;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.list-title {
    font-size: 24px;
    margin: 5px 0;
    vertical-align: top;
}

table {
    margin-bottom: 50px;
}

th {
    background-color: #F8F8F9;
    width: 200px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

td {
    padding: 20px 5px 20px 10px;
    width: 250px;

}

tr {
    border-bottom: 1px solid lightgray;
}

tr:hover {
    cursor: pointer;
    background-color: #3CAAEC;
}

.current-rep-info {
    background-color: #F4F4F5;
    padding: 10px;
    font-size: 18px;
    width: 200px;
}

a {
    word-wrap:break-word;
}

